* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-family);
  background-color: var(--neutral-900)!important;
}

button,
input {
  font-family: inherit; /* Keep your font */
  font-size: inherit; /* Keep your font size */
}

:root {
  /* Neutral Colors */
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Blue Colors */
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);

  /* Red & Green */
  --red-500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);

  /* Yellow */
  --yellow-400: hsl(49, 85%, 70%);

  /* === TYPOGRAPHY === */

  /* Font */
  --font-family: "Sora", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* ===== MOBILE TYPOGRAPHY ===== */
  /* ===== TYPOGRAPHY - MOBILE FIRST ===== */
  --title-size: 24px; /* Text Preset 1 (Mobile) */
  --title-line-height: 120%;
  --title-letter-spacing: 0.32px;

  --passage-size: 16px; /* Text Preset 3 (Mobile) */
  --passage-line-height: 120%;
  --passage-letter-spacing: -0.48px;

  --stats-size: 24px; /* Text Preset 2 */
  --stats-line-height: 100%;
  --stats-letter-spacing: 0px;

  --button-size: 20px; /* Text Preset 3 (SemiBold) */
  --button-line-height: 120%;
  --button-letter-spacing: -0.3px;

  --label-size: 12px; /* Text Preset 6 */
  --label-line-height: 120%;
  --label-letter-spacing: 0px;

  /* ===== SPACING SYSTEM (from Figma) ===== */
  --spacing-0: 0;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;
  --spacing-112: 112px;
  --spacing-128: 128px;
  --spacing-140: 140px;

  /* =====radius values====== */
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* Tablet */
  @media (min-width: 768px) {
    :root {
      --title-size: 32px;
      --title-line-height: 136%;

      --passage-size: 18px;
    }
  }

  /* Desktop */
  @media (min-width: 1440px) {
    :root {
      --title-size: 40px;

      --passage-size: 40px;
      --passage-line-height: 136%;
    }
  }
}

.navsbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0px 26px;
}

.pbt{
    display: flex;
  align-items: center;
  gap: var(--spacing-10);
}

.landing{
  padding: var(--spacing-32) var(--spacing-16) 26px;
}

.stat-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-20);
  justify-content: space-evenly;
}

.wpm{
  font-size: var(--passage-size);
  line-height: var(--passage-line-height);
  letter-spacing: var(--passage-letter-spacing);
}

.wpm-no{
  font-weight: var(--font-weight-bold);
  margin-top: var(--spacing-8);
  font-size: var(--stats-size);
  line-height: var(--stats-line-height);
  letter-spacing: var(--stats-letter-spacing);
  text-align: center;
   /* max-width: 36px; */
}

.accuracy{
  font-size: var(--passage-size);
  line-height: var(--passage-line-height);
  letter-spacing: var(--passage-letter-spacing);
}

.accuracy-no{
  font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-8);
  font-size: var(--stats-size);
  line-height: var(--stats-line-height);
  letter-spacing: var(--stats-letter-spacing);
  text-align: center;
   /* max-width: 36px; */
}

.time{
  font-size: var(--passage-size);
  line-height: var(--passage-line-height);
  letter-spacing: var(--passage-letter-spacing);
}

.time-no{
    margin-top: var(--spacing-8);
    font-weight: var(--font-weight-bold);
  font-size: var(--stats-size);
  line-height: var(--stats-line-height);
  letter-spacing: var(--stats-letter-spacing);
  text-align: center;
   /* max-width: 36px; */
}

.line {
  position: absolute;
  top: 10%;
  left: 29%;
    display: block;
    height: 51px;
    width: 1px;
    background: #3a3a3a;
}

.line2 {
  position: absolute;
  top: 10%;
  left: 68%;
    display: block;
    height: 51px;
    width: 1px;
    background: #3a3a3a;
}  

.control-group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-10);
  margin-top: var(--spacing-16);
}

  .difficulty-selector{
    text-align: center;
    background-color:transparent;
    color: var(--neutral-0);
    border: 1px solid var(--neutral-500);
    /* padding: 10px 6px; */
    border-radius: var(--radius-8);
    font-size: var(--passage-size);
    line-height: var(--passage-line-height);
    letter-spacing: var(--passage-letter-spacing);
    font-weight: var(--font-weight-regular);
    cursor: pointer;
    width: 140px;
    height: 31px;
}

.dropdown-menu{
  min-width:140px!important;
  background-color: var(--neutral-800)!important;
  padding: 0px 10px!important;
  border-radius: var(--radius-8)!important;
  display: flex;
  align-items: center;
  justify-content: start!important;
  gap:var(--spacing-8)!important;
}

.dropdown-item {
  display: flex!important;
  align-items: center!important;  
  gap: var(--spacing-12);
  padding: 10px 0px 8px 0px!important;
  /* text-align: center; */
  color: var(--neutral-0)!important;
  font-size: var(--passage-size)!important;
  line-height: var(--passage-line-height)!important;
  letter-spacing: var(--passage-letter-spacing)!important;
  font-weight: var(--font-weight-regular)!important;
  padding: var(--spacing-8) var(--spacing-16)!important;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: transparent!important;
}

/* input[type="radio"] {
  accent-color: var(--blue-400) ;
  background: var(--neutral-800)!important;
  color: transparent!important;
    width: 22px;
    height: 22px;
    cursor: pointer;
} */
 /* Force radio styling */
.dropdown-item input[type="radio"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  width: 16px !important;
  height: 16px !important;
  border: 1px solid #D1D5DB !important;
  border-radius: 999px !important;
  background: transparent !important; /* Your color */
  cursor: pointer !important;
  position: relative !important;
}

/* Checked state */
.dropdown-item input[type="radio"]:checked {
  background: var(--blue-400) !important;
  border-color: var(--blue-400) !important;
}

/* White dot */
.dropdown-item input[type="radio"]:checked::after {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 6px !important;
  height: 6px !important;
  background: var(--neutral-900)  !important;
  border-radius: 50% !important;
}

.dropdown-divider{
  background-color: #3a3a3a!important;
}
